{% extends "base.html" %}
{% block content %}
<br><br><br><br>
<h1 style="color: white; text-align: center;">Enter the IP Address and Port of your Muse Headband</h1>
<br><br><br><br>
<div class="container" style="align-content: center;" >
    <div class="jumbotron" style="content-align: center; width: 60%; margin-right: 20%; margin-left: 20%; opacity: 75%;">
        <form method="post">
        {{form.hidden_tag()}}
        {{form.address.label()}} {{form.address()}}
        {{form.port.label()}} {{form.port()}} &nbsp;
        {{form.submit(class="btn btn-light")}}
      </form>
    </div>
</div>



{% endblock %}
